<footer>
	<nav>
		{{- if .Prev -}}
		<a class="next" href="{{ .Prev.Permalink }}">Next</a>
		{{- else -}}
		<span class="next disable">Next</span>
		{{- end -}}
		{{- if and .Next .Prev -}}|{{- end -}}
		{{- if .Next -}}
		<a class="prev" href="{{ .Next.Permalink }}">Prev</a>
		{{- else -}}
		<span class="prev disable">Prev</span>
		{{- end -}}
	</nav>
	{{- if not .Params.nocopy -}}
	{{- if .Site.Params.author -}}
	&copy; {{ .Date.Format "2006" }} {{ .Site.Params.author }}.<br/>
	{{- end -}}
	{{- partialCached "license" . }}
	{{- end -}}
</footer>
</body>
</html>
